$radius-value: 0.375rem;
$transition-speed: 150ms;
$transition-function: ease-in-out;

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;
    font-family: $Josefin-Sans;
    &::-webkit-scrollbar {
        display: none;
    }

    transition: background-color $transition-speed $transition-function;

    &.dark {
        background-color: $Very-Dark-Blue;
    }

}