main {
  @include breakpoint-down(medium) {
    top: 5rem;
    width: 62.75%;
  }

  @include breakpoint-down(xsmall) {
    top: 2.8125rem;
    width: 87.5%;
  }

  position: absolute;
  left: 50%;
  top: 5rem;
  transform: translate(-50%);
  width: 38%;
  transition: all 100ms ease-in-out;

  @import 'title+search';
  @import 'list+tracker';
  @import 'altbuttons+tip';
}
